section#banner h2.portfolio {
	border-bottom: none;
}
section#banner h2.portfolio::after {
	content: " \1F4BB";
}

h3.in_progression {
	position: relative;
	top: -50px;
}

@media only screen and (max-width: 736px) {
	h3.in_progression {
		position: relative;
		top: -30px;
	}
}

h2.show-works {
	display: inline-block;
	border-bottom: none;
}

h2.substitue {
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: -20px;
}

h2.show-works:hover {
	text-decoration: underline;
	cursor: pointer;
}

section.features {
	display: flex;
}
section#two h2.show-works {
	font-size: 0.9em;
}

span.show-works {
	/* display: block; */
	text-transform: none;
	/* padding-left: 30px; */
	font-size: 0.97rem;
	font-family: Source Sans Pro, Source Sans Pro Light, Arial, sans-serif;
	font-weight: normal;
	color: rgb(164, 164, 164);
	margin-top: 5px;
}

span.show-works::after {
	content: ">";
	display: inline-block;
	transform: rotate(-90deg) scaleX(1.25) scaleY(2);
	position: relative;
	width: 0;
	left: 15px;
	top: 5px;
	transition: all 0.25s;
}
span.show-works.show::after {
	transform: rotate(90deg) scaleX(1.25) scaleY(2);
	top: -5px;
	transition: all 0.25s;
}

div.technos {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.technos img {
	height: 100px;
	padding-top: 15px;
}

ul.contact a {
	border: none;
}

section.features article {
	padding-bottom: 20px;
}

article h4 {
	color: aqua;
	margin-bottom: 0;
}

article a {
	border-bottom: none;
}
article a:hover {
	text-decoration: underline;
}

article p {
	margin-bottom: 10px;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
	text-align: left;
}

.gif-click:hover {
	cursor: pointer;
}
div.click {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	height: 100%;
	width: 100%;
	border: none;
	opacity: 0.40; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 50%;
	transition: 0.25s;
	cursor: pointer;
}
div.click.white-button {
	background-image: url('../../images/svg/play-button.svg');
}
div.click.black-button {
	background-image: url('../../images/svg/play-button2.svg');
}
div.click.acqua-button {
	background-image: url('../../images/svg/play-button3.svg');
}
div.click:hover {
	opacity: 0.60; 
}
div.click:active {
	opacity: 0.80; 
}













