section#banner h2.portfolio {
	border-bottom: none;
}
section#banner h2.portfolio::after {
	content: " \1F4BB";
}

h2.show-works {
	display: inline-block;
	border-bottom: none;
}

h2.substitue {
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: -20px;
}

/* ul.works {
	list-style-type: "\1F4BE";
	font-size: 1.2rem;
}
ul.works li {
	padding-bottom: 15px;
}
ul.works a {
	border:none;
}
ul.works span {
	padding-left: 10px;
	text-decoration: none!important;
	opacity: 0.5;
} */

/* ul.works a:hover, h2.show-works:hover {
	text-decoration: underline;
	cursor: pointer;
} */

h2.show-works:hover {
	text-decoration: underline;
	cursor: pointer;
}

section.features {
	display: flex;
}
section#three h2.show-works {
	font-size: 0.9em;
}

span.show-works {
	display: block;
	text-transform: none;
	padding-left: 30px;
	font-size: 0.97rem;
	font-family: Source Sans Pro, Source Sans Pro Light, Arial, sans-serif;
	font-weight: normal;
	color: rgb(164, 164, 164);
}
span.show-works::before {
	content: "\1F4BE";
	display: inline-block;
	position: relative;
	width: 0;
	left: -30px;
}
span.show-works::after {
	content: ">";
	display: inline-block;
	transform: rotate(90deg) scaleX(1.25) scaleY(2);
	position: relative;
	width: 0;
	left: 24px;
	top: -5px;
	transition: all 0.25s;
}
span.show-works.show::after {
	transform: rotate(-90deg) scaleX(1.25) scaleY(2);
	top: 5px;
	transition: all 0.25s;
}

div.technos {
	/* height: 200px; */
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.technos img {
	height: 100px;
	padding-top: 15px;
}

ul.contact a {
	border: none;
}